<%= component("ListingLayout/Content_Module",
  title: "Accommodation in #{place.title}"
) do %>
  <div
    class="
      grid
      grid-cols-2
      gap-8
      mt-4
    "
  >
    <% listings.each do |listing| %>
      <%= component("ListingTile", listing: listing) %>
    <% end %>
  </div>
<% end %>