<div
  class="
    flex
    flex-col
    gap-4
    w-full
  "
>
  <div class="flex w-full">
    <% if title.present? %>
      <h3
        class="
          font-bold
          leading-snug
          text-2xl
        "
      >
        <%= title %>
      </h3>
    <% end %>
  </div>

  <div
    class="
      flex
      w-full
    "
  >
    <%= content %>
  </div>
</div>
