<div
  class="
    flex
    my-16
    w-full
  "
>
  <div
    class="
      flex
      flex-col
    "
  >
    <h1
      class="
        font-bold
        leading-snug
        text-4xl
      "
    >
      <%= page_title %>
    </h1>

    <h4
      class="
        leading-snug
        text-xl
      "
    >
      <%= content %>
    </h4>
  </div>
</div>
