<a
  class="
    flex
    flex-col
    gap-2
    bg-white
    rounded-lg
    w-full
  "
  href="<%= v1_listing_path(listing) %>"
>
  <div class="w-full h-48 bg-gray-200 rounded-lg overflow-hidden">
    <% if listing.default_image&.file&.attached? %>
      <%= image_tag(listing.default_image.file.variant(resize_to_limit: [1200, 800]), class: "w-full h-full object-cover") %>
    <% end %>
  </div>

  <div class="flex flex-col">
    <h3 class="text-lg font-bold">
      <%= listing.title %>
    </h3>

    <p class="text-sm text-gray-500">
      <%= listing.description.truncate(90) %>
    </p>
  </div>
</a>
