<div
  class="
    flex
    flex-col
    w-full
  "
>
  <span
    class="
      font-semibold
      tracking-wider
      text-sm
    "
  >
    <%= custom_field_value.custom_field.title %>
  </span>

  <span
    class="text-text-secondary"
  >
    <%= custom_field_value.value %>
  </span>
</div>
