<div
  class="
    grid
    grid-cols-4
    gap-2
    w-full
  "
  data-controller="<%= component_identifier("SortableGrid") %>"
  data-<%= component_identifier("SortableGrid") %>-update-url-value="<%= update_url %>"
>
  <%= content %>
</div>
