<%= component("ListingLayout/Content_Module", title: "Gallery") do %>
  <div
    class="
      grid
      grid-cols-2
      gap-2
    "
  >
    <% images.each do |image| %>
      <%= component("ListingDetail/Gallery/Image", listing: listing, image: image) %>
    <% end %>
  </div>
<% end %>