<header
  class="
    border-b
    flex
    items-center
    justify-between
    p-4
    pt-8
  "
>
  <span class="text-xl">
    <%= title %>
  </span>

  <div class="flex items-center gap-1">
    <%= heading_right %>
  </div>
</header>
